@charset "UTF-8";


@font-face {
    font-family: 'SUIT-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight:Light;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

p, span, button, a, h1, h2, h3, h4, h5, h6, input, label, textarea, td, tr, th, li, ul, ol {
	font-family: 'SUIT-Regular';
}

.header {
	width: 100%;
	
}
.login{
	display:inline-block;
	width:150px;
	z-index: 0;
	display: flex;
	position: absolute;
	top: 0;
	right: 10;
	
}
.login a{
	color:gray;
	text-decoration: none;
	width: 70px;
}
.login a :hover{
	border-bottom: 1px solid black;
}

.login input {
	border: none;
	color:gray;
	background: none;

}
.my_info{
	z-index:0;
	display: flex;
}

.my_info img{
margin-right: 5px;
margin-left: 5px;
width: 60px;
}

#keyboard{
	border: 1px solid rgb(85, 83, 242); 
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px; 
	width:550px;
	height: 50px;
}
.fieldcss{
	height:47px; 
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100px;
	border: none;
	text-align: center;
}