<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  
  
	<!-- book -->
	<typeAlias type="com.book.model.CartDTO" alias="cartDto"/>
  	<typeAlias type="com.book.model.BookDTO" alias="bookDto"/>	
	<typeAlias type="com.book.model.ReviewDTO" alias="reviewDto"/>		
  	<typeAlias type="com.book.model.ReviewPercentDTO" alias="reviewPerDto"/>		
  	<typeAlias type="com.book.model.DibsDTO" alias="DibsDto"/>		
  	<typeAlias type="com.book.model.NewRelBookDTO" alias="newRelBookDto"/>		
  	<typeAlias type="com.book.model.ReviewDTO" alias="reviewDto"/>		
  	<typeAlias type="com.book.model.PageDTO" alias="pageDto"/>		
	
	
	
	<typeAlias type="com.book.bookmodel.plusListDAO" alias="pluslistDao"/>
	<typeAlias type="com.book.bookmodel.CartDAO" alias="cartDao"/>
  	<typeAlias type="com.book.bookmodel.BookDAO" alias="bookDao"/>
  	<typeAlias type="com.book.bookmodel.ReviewDAO" alias="reviewDao"/>
	<!-- book End-->
	
	
	<!-- member -->
   	<typeAlias type="com.book.model.MemberDTO" alias="memberdto" />
 	<typeAlias type="com.book.model.LoginDTO" alias="logindto"/>
	
	<typeAlias type="com.book.membermodel.LoginDAO" alias="logindao" />
  	<typeAlias type="com.book.membermodel.JoinDAO" alias="joindao" />
	<!-- member End-->
	
	<!-- board -->
  	<typeAlias type="com.book.model.BoardDTO" alias="boarddto"/>

  	<typeAlias type="com.book.boardmodel.BoardDAO" alias="boarddao"/>
	<!-- board End-->
  	
  
  </typeAliases>
  
</configuration>