<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  	<typeAlias type="com.book.bookmodel.BookDAO" alias="bookDao"/>	
  	<typeAlias type="com.book.model.BookDTO" alias="bookDto"/>
  	<typeAlias type="com.book.model.ReviewDTO" alias="reviewDto"/>
  	<typeAlias type="com.book.model.ReviewPercentDTO" alias="reviewPerDto"/>
  	<typeAlias type="com.book.boardmodel.BoardDAO" alias="boarddao"/>
  	<typeAlias type="com.book.model.BoardDTO" alias="boarddto"/>
  	<typeAlias type="com.book.memberDAO.LoginDAO" alias="logindao" />
  	<typeAlias type="com.book.memberDAO.JoinDAO" alias="joindao" />
  	<typeAlias type="com.book.model.MemberDTO" alias="memberdto" />
  	<typeAlias type="com.book.model.LoginDTO" alias="logindto"/>
  </typeAliases>
  
</configuration>