<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
	
	
	<typeAlias type="com.book.main04DAO.BookDAO" alias="main_bookDao"/>
	<typeAlias type="com.book.model.BookDTO" alias="main_bookDto"/>
	<typeAlias type="com.book.model.CartDTO" alias="cartDto"/>
<!-- 	<typeAlias type="com.book.main08DAO.MemmberDAO" alias="memberDao"/> -->
	<typeAlias type="com.book.main08DAO.CartDAO" alias="cartDao"/>
	
	
	
  	<typeAlias type="com.book.bookmodel.BookDAO" alias="bookDao"/>	<!-- Book -->
  	<typeAlias type="com.book.model.BookDTO" alias="bookDto"/>		<!-- Book -->
  	<typeAlias type="com.book.model.ReviewDTO" alias="reviewDto"/>		<!-- Book -->
  	<typeAlias type="com.book.model.ReviewPercentDTO" alias="reviewPerDto"/>		<!-- Book -->
  	<typeAlias type="com.book.model.DibsDTO" alias="DibsDto"/>		<!-- Book -->
  	<typeAlias type="com.book.boardmodel.BoardDAO" alias="boarddao"/>
  	<typeAlias type="com.book.model.BoardDTO" alias="boarddto"/>
  	<typeAlias type="com.book.memberDAO.LoginDAO" alias="logindao" />
  	<typeAlias type="com.book.memberDAO.JoinDAO" alias="joindao" />
   	<typeAlias type="com.book.model.MemberDTO" alias="memberdto" />
 	<typeAlias type="com.book.model.LoginDTO" alias="logindto"/>
  </typeAliases>
  
</configuration>