@charset "UTF-8";

.detailTitle {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.order_date {
  font-size: 16px;
  color: black;
}

.purchaseNoBox {
  margin-top: 15px;
}

.bookName {
  font-size: 14px;
}

.row-between + .row-between {
  margin-top: 8px;
}